---
# tasks file for ansible-rtorrent

- name: "install rtorrent"
  package:
    name: rtorrent
    state: present
  tags:
    - install

- name: "create rtorrent group"
  group:
    name: "{{ rtorrent_group }}"
  tags:
    - install

- name: "create rtorrent user"
  user:
    name: "{{ rtorrent_user }}"
    group: "{{ rtorrent_group }}"
    comment: "rtorrent user"
    home: "{{ rtorrent_user_home }}"
    shell: /bin/bash
  tags:
    - install

- name: "create rtorrent directories"
  file:
    path: "{{ item }}"
    state: directory
    owner: "{{ rtorrent_user }}"
    group: "{{ rtorrent_group }}"
  with_items:
    - "{{ rtorrent_directory_download }}"
    - "{{ rtorrent_directory_session }}"
    - "{{ rtorrent_directory_watch }}"
  tags:
    - install

- name: "configure rtorrent"
  template:
    src: rtorrent.rc.j2
    dest: "{{ rtorrent_user_home }}/.rtorrent.rc"
    owner: "{{ rtorrent_user }}"
    group: "{{ rtorrent_group }}"
    mode: 0644
  tags:
    - configuration

- name: "configure ufw for rtorrent"
  template:
    src: rtorrent-ufw.j2
    dest: /etc/ufw/applications.d/rtorrent
    mode: 0644
  when:
    - rtorrent_configure_ufw
  tags:
    - firewall

- name: "allow rtorrent in ufw"
  become: yes
  ufw:
    rule: allow
    name: rTorrent
    state: enabled
  when:
    - rtorrent_configure_ufw
  tags:
    - firewall

- name: "install tmux"
  package:
    name: tmux
    state: present
  tags:
    - service

- include: configure_{{ ansible_service_mgr }}.yml
  when:
    - ansible_service_mgr == "systemd" or ansible_service_mgr == "initd"
