min_peers = 40
max_peers = 100

min_peers_seed = 10
max_peers_seed = 50

max_uploads = 15

download_rate = 0
upload_rate = 0

directory = {{ rtorrent_download_dir }}

session = {{ rtorrent_session_dir }}

schedule = watch_directory,5,5,load_start={{ rtorrent_watch_dir }}/*.torrent
schedule = untied_directory,5,5,stop_untied=

schedule = low_diskspace,5,60,close_low_diskspace=100M

port_range = 6890-6999

port_random = yes

check_hash = yes

use_udp_trackers = yes

encryption = allow_incoming,enable_retry,prefer_plaintext

dht = disable

peer_exchange = no
